@import "tailwindcss";
*html,body{
    background-color: #1a1717;
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
}
